<section class="form-section vh-100">
  <div class="form-container">
    <h1>Sign Up</h1>
    <%= form_for(resource, html: { class: "needs-validation", novalidate: true }, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :name, autofocus: true, id:"fullname", placeholder:"Name", class:"form-control", required:true %>
      <%= f.text_field :phone, id:"phone", placeholder:"03XXXXXXXXX", class:"form-control", maxlength:11, required:true, pattern:"^03\\d{9}$" %>
      <%= f.email_field :email, placeholder:"Email", class:"form-control", required:true %>
      <%= f.password_field :password, placeholder:"Password", class:"form-control", required:true %>
      <%= f.password_field :password_confirmation, placeholder:"Confirm Password", class:"form-control", required:true %>
      <%= f.select :role, User.roles.keys, {}, { class: 'form-control mb-3', required: true } %>

<!--      <div class="form-group">
        <select class="form-control mb-3" id="role" name="role" required>
          <option value="" selected>Select Role</option>
          <%# User.roles.keys.each do |key| %>
            <option value="<%#= key %>"><%#= key %></option>
          <%# end %>
        </select>
      </div>-->

      <%= f.submit "Sign up", class: "form-button" %>
  <% end %>
    <p class="btn-separator my-4">
      <span>or</span>
    </p>
    <%= link_to "Already have an account?", new_user_session_path, class:"btn btn-block btn-outline-success rounded rounded-pill " %>
  </div>
</section>
