<section class="form-section pb-5">

  <div class="w-100">

    <div class="container my-5">
      <div class="d-flex flex-column align-items-center">
        <div class="col-8">
          <h3 class="px-5 me-auto">Send New mail</h3>
          <div class="card-body">
            <%= form_with(model: issue, html: { class: "needs-validation", novalidate: true }) do |form| %>


              <%= render "shared/mail-alert", issue: @issue %>
              <div class="px-5 d-flex flex-column">
                <%= form.label :title, class:"fw-light" %>
                <%= form.text_field :title, autofocus: true, id: "name", placeholder: "Title", class: "form-control mb-3", required: true %>
                <%= form.label :description, class:"fw-light"  %>
                <%= form.text_area :description, id: "description", rows: 9, placeholder: "Description", class: "form-control mb-3", required: true %>

                <div class="d-flex justify-content-end">
                  <%= form.submit "Create mail", class: "btn btn-primary fw-bold" %>
                </div>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render "shared/footer" %>
