<section class="w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card my-3 border shadow shadow-3">
          <div class="card-body">
            <div class="w-100">
              <div class="text-center text-light mb-0 mb-2">
                <div class="rounded rounded-5 py-2">
                  <Strong class="fs-5 text-dark">Find labor</Strong>
                </div>
              </div>

              <!--
              <div class="d-flex justify-content-between">
                <div class="w-75">
                  <%#= render "shared/search" %>
                </div>
                <div class="w-25">
                  <div class="form-outline">
                    <form action="/members" method="get">
                      <label for="search"></label><select class="ddl ddl-select" id="search" name="q">
                      <option disabled selected>Select Role</option>
                      <option value="plumber">Plumber</option>
                      <option value="carpenter">Carpenter</option>
                      <option value="electrician">Electrician</option>
                      <option value="painter">Painter</option>
                      <option value="mason">Mason</option>
                      <option value="gardener">Gardener</option>
                      <option value="cleaner">Cleaner</option>
                      <option value="cook">Cook</option>
                      <option value="driver">Driver</option>
                      <option value="maid">Maid</option>
                      <option value="other">Other</option>
                    </select>
                    </form>
                  </div>
                </div>
              </div>
-->

              <table class="table mt-3 table-striped table-bordered">
                <thead class="bg-dark text-light">
                <tr>
                  <th class="fw-bold py-1">No.</th>
                  <th class="fw-bold py-1">Name</th>
                  <th class="fw-bold py-1">Email</th>
                  <th class="fw-bold py-1">Skill</th>
                  <th class="fw-bold py-1">Address</th>
                  <th class="fw-bold py-1 text-center">Action</th>
                </tr>
                </thead>
                <% @users.where(role: "labor").each_with_index do |user, index| %>
                  <tbody id="table">
                  <tr>
                    <td class="py-1">
                      <div class="mt-2">
                        <p class="fw-bold mb-0"><%= index + 1 %></p>
                      </div>
                    </td>
                    <td class="py-1">
                      <div class="mt-2">
                        <p class="fw-bold mb-0"><%= user.name %></p>
                      </div>
                    </td>
                    <td class="py-1">
                      <div class="mt-2">
                        <p class="mb-0"><%= user.email %></p>
                      </div>
                    </td>
                    <td class="py-1">
                      <div class="mt-2">
                        <p class="mb-0" id="skills"><%= user.skill %></p>
                      </div>
                    </td>
                    <td class="py-1">
                      <div class="mt-2">
                        <p class="mb-0"><%= formatted_address(user) %></p>
                      </div>
                    </td>
                    <td class="py-1">
                      <div class="mt-1 text-center">
                        <button type="button" class="btn btn-success btn-sm rounded rounded-pill" data-mdb-toggle="modal" data-mdb-target="#myModal-<%= user.id %>">View</button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <div class="modal fade pt-5" id="myModal-<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog model-1">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><%= user.name %></h5>
                          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="container">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                              <div class="col-12 mb-4">
                                <div class="row g-0">
                                  <div class="col-3 text-center text-white">
                                    <div class="mb-5">
                                      <% if current_user.avatar.attached? %>
                                        <%= image_tag current_user.avatar, height: 200, width: 200, class: "rounded-circle border border-3" %>
                                      <% else %>
                                        <%= image_tag "", height: 200, width: 200, class: "gambar rounded-circle" %>
                                      <% end %>
                                    </div>
                                    <h5 class="text-dark"><%= user.name %></h5>
                                    <p class="text-dark badge badge-primary"><%= user.skill %></p>
                                    <i class="far fa-edit mb-5"></i>
                                  </div>
                                  <div class="col-8">
                                    <div class="card-body p-4">
                                      <h6>Information</h6>
                                      <hr class="mt-0 mb-4">
                                      <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                          <h6>Email</h6>
                                          <p class="text-muted"><%= user.email %></p>
                                        </div>
                                        <div class="col-6 mb-3">
                                          <h6>Phone</h6>
                                          <p class="text-muted"><%= user.phone %></p>
                                        </div>
                                        <div class="col-6 mb-3">
                                          <h6>Address</h6>
                                          <p class="text-muted"><%= formatted_address(user) %></p>
                                        </div>
                                      </div>
                                      <h6>Work History</h6>
                                      <hr class="mt-0 mb-4">
                                      <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                          <h6>History</h6>
                                          <p class="text-muted">0 Work</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                          <h6>User Type</h6>
                                          <p class="text-muted"><%= user.skill %></p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <a href="/issues/new" type="button" class="btn btn-primary float-end">Send Mail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<%= render "shared/footer" %>
