<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid px-5">
    <!-- Toggle button -->
    <button class="navbar-toggler"  type="button"  data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->

      <% if user_signed_in? && current_user.role == "labor" %>
        <a class="navbar-brand mt-2 mt-lg-0" href="/labors/dashboard">
          <%= image_tag "logo.png", height: 25, width: 25, alt:"MDB Logo", loading:"lazy" %>
        </a>
      <% elsif user_signed_in? && current_user.role == "user" %>
        <a class="navbar-brand mt-2 mt-lg-0" href="/clients/dashboard">
          <%= image_tag "logo.png", height: 25, width: 25, alt:"MDB Logo", loading:"lazy" %>
        </a>
      <% else %>
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
          <%= image_tag "logo.png", height: 25, width: 25, alt:"MDB Logo", loading:"lazy" %>
        </a>
      <% end %>


      <!-- Left links -->
      <% if user_signed_in? && current_user.role == "user" %>
        <ul class="navbar-nav ms-auto me-3 my-0">
          <li class="nav-item"><%= link_to "Create Work", new_job_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Find Labor", labors_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Map", client_map_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Admin Assist", issues_path, class: "nav-link" %></li>
        </ul>
      <% elsif user_signed_in? && current_user.role == "labor"%>

      <% else %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
          <li class="nav-item">
            <a class="nav-link navbar-links" href="#">About us</a>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link navbar-links" %>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-links" href="#">Users</a>
          </li>
        </ul>
      <% end %>
      <!-- Left links -->
    </div>

    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Accounts Button -->
      <% if !user_signed_in? %>
        <%= link_to user_session_path, class: "btn btn-success btn-sm rounded-4 me-3", id: "btn-login" do %>
          <i class="fas fa-sign-in-alt me-2"></i> Login
        <% end %>

        <%= link_to new_user_registration_path, class: "btn btn-primary btn-sm rounded-4 me-3" do %>
          <i class="fas fa-user-alt me-2"></i> Sign Up
        <% end %>

      <% end %>
      <!-- Avatar -->
      <% if user_signed_in?%>
      <div class="dropdown">
        <div
          class="dropdown-toggle d-flex align-items-center hidden-arrow" id="Avatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, height: 35, width: 35, class: "rounded-circle border border-3" %>
          <% else %>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="35" alt="User" loading="lazy"/>
          <% end %>
        </div>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Avatar">
          <li class="px-5 m-4 ">
            <div class="d-flex flex-column align-items-center">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, height: 110, width: 110, class: "rounded-circle border border-3" %>
              <% else %>
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="110" alt="User" loading="lazy"/>
              <% end %>
              <div class="fs-6 fw-bold"><%= current_user.name %></div>
              <div class="" style="font-size: 0.8rem;"><%= current_user.skill %></div>
            </div>
          </li>
          <li>
            <%= link_to profile_path(current_user), class: "dropdown-item fs-6 fw-bold px-4" do %>
              <i class="fas fa-user-edit me-2"></i>Profile
            <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item fs-6 fw-bold px-4" do %>
              <i class="fas fa-door-open me-2"></i>Logout
            <% end %>
          </li>
        </ul>
      </div>
        <% end %>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
